# Entornos virtuales
.venv/
venv/
env/

# Variables de entorno
.env

# Cache de Python
__pycache__/
*.py[cod]
*$py.class

# Bases de datos locales
*.db
*.sqlite3

# Configuración local de editores
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db
